.movie_row{
    display: flex;

}

.movie{
    width: 100%;
    height: 150px;
    margin: 10px;
    transition: .5s ease-in-out;
}

.movie:hover{
    transform: scale(1.05);
}

.row{
    margin: 10px;
}

.posterMovie{
    height: 250px;
    margin: 6px;
}

::-webkit-scrollbar{
    display: none;
}